name: TTP Check
on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  run-scheduler:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run it safely
        env:
          # This pulls the secret from your settings
          MY_SECRET_URL: ${{ secrets.DISCORD_WEBHOOK }} 
        run: |
          # The -u flag overrides the config.json and uses your secret URL
          python ttp.py -u "$MY_SECRET_URL"
